* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'kumbh Sans';
    
  }

.container,
.flex-container {
    max-width: 1100px;
    margin-left: 135px;
    margin-right: 135px;
    width: auto 0;
    
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;

}

.logo {
    width: 120.5px;
    height: 32px;
    cursor: pointer;
    display: inline;
}
.header-list{
  display: inline-block;
  list-style: none;
  justify-content: space-between;
  padding: 0px 10px;
}

nav li {
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    padding: 0px 10px;
}

.a,
.button {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: black;
}

.button0 {
    background-color: blue; 
    border: none;
    color: #FFFFFF;
    padding: 16px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 30px;
  }



.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    color: #FFFFFF;
    text-decoration: none;

}

nav {
    margin-right: 430px;
}

.heading {
    size: 48px;
    font-weight: 700;
    width: 479px;
    height: 144px;
    align-self: stretch;
    flex-grow: 0;
    padding-top: 129px;
}



.button2 {
    gap: 10px;
    margin-right: 135px;
    width: 211px;
    height: 66px;

    background: #1A47E6;
    border-radius: 59px;

    flex: none;
    /* order: 1; */
    flex-grow: 0;
    margin-top: 100px;
}

.teamwork {
    position: absolute;
    left: 19.3%;
    right: 0%;
    top: 6.4%;
    bottom: 0%;

}

.followUs {
    margin-top: 450px;
    margin-bottom: 200px;
}

.HowWeWork {
    text-align: center;
    position: absolute;
    width: 1000px;
    height: 10px;
    left: 134px;
    top: 800px;
    margin-bottom: 91px;
}

.cards{
    display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-content: space-between;
  flex:2 2;

}

.wrapper{
    display: grid;
    grid-template-columns: 4fr 4fr ;
    column-gap: 230px;
    row-gap: 126px;
    position: relative;
}

 
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .img{
    position: absolute;
    top: 0px;
  }


  
  .digital-section-wrapper{
  margin-top: 233px;    
  display: flex;
  justify-content: center;
  align-items: center;
  }


  .image-grid{
    display: grid;
    grid-template-columns: 4fr 4fr;
    column-gap: 70px;
    row-gap: 70px;
    margin-top: 50px;
    
  }

  .Industry{
    margin-top: 200px;
  }

  .Industry-div{
    text-align: center;
    /* position: absolute; */
    /* margin-left: 200px; */
    top: 800px;
    /* margin-top: 1400px;
    line-height: 40px;
    margin-bottom: 50px;
     */
     line-height: 25px;

  }

  .button-SeeAll{
    
    background-color: white; 
    border: none;
    padding: 16px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 30px;
    margin-left: 435px;
  }

  .button-SeeAll-color{
    color: black;
    text-decoration: none;
  }

  .flex-container1{
    display: flex;
    justify-content:space-around;
    
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    gap: 30px;
  }
  .flex-container2{
    display: flex;
    justify-content:space-around;
    
    
    flex-direction: row;
      
    
  }
  
   .box{
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 30px;
    padding: 32px;
    text-align: left;
  }


  .seperate{
    display: flex;
    justify-content: space-evenly;
    gap: 160px;
    
  }
  
  .pics-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
  }
  .section-margin{
    margin-top: 240px;
  }

  .box1{
    width: 20;
    position: absolute;

  }
  .client-logo{
    width: 30%;
  }
  .client-logo-img{
    width: 100%;
  }
  .client-para{
    width: 300px;
  }




footer{
  width: 100%;
  background: #1E2A54;
  display: block ;
  margin-top: 200px;
}
.footer container{
  width: 1100px;
  margin: auto 0;
}

.footer-section-1{
  display: flex;
  flex-direction: row;
  gap: 460px;
  
  }
  
.footer-button{
  background-color: #1FC2E5;
  color: #fff;
  padding: 20px 40px 20px 40px;
  border-radius: 55px;
  margin-top: 72px;
  margin-bottom: 155px;
}

.footer-items {
  color: #fff;
  margin-top: 72px

}

.footer-section-2{
  display: flex;
  flex-direction: row;
  /* gap: 100px; */
  margin-bottom: 120px;
  justify-content: space-between;
}

.footer-about{
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-bottom: 72px;
  line-height: 32px;
  list-style: none;
  color: #FFFFFF;
 
}
.footer-about ul{
  list-style: none;
}

.footer-list li a{
  color: #FFFFFF;
  text-decoration: none;
}







    
